<h1 class="text-4xl font-bold mb-4">Products from <%= @user.username %></h1>

<%= turbo_frame_tag "products-#{@pagy.page}" do %>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mb-4">
    <%= render partial: "products/product", collection: @products %>
  </div>
  <%= turbo_frame_tag "products-#{@pagy.next}", src: pagy_url_for(@pagy, @pagy.next), loading: :lazy if @pagy.next %>
<% end %>