<h1 class="text-5xl font-bold my-4"><%= link_to t('app_name'), products_path %></h1>

<%= link_to "Add product", new_product_path, class: "underline" %>
<%= link_to "Add category", new_category_path, class: "underline" %>